<%= @station.name %>
<%= @station.prefecture %>
<%= @station.x %>
<%= @station.y %>



<!-- 地図表示領域-->
<div id="map" style="width: 600px; height: 500px;"></div>

<script>
  handler = Gmaps.build("Google");
  handler.buildMap({ provider: {}, internal: {id: "map"}}, function(){
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(16);# ズームの大きさを指定
  });
</script>



<div class="comment">
  <h4>コメント一覧</h4>
  <% @comments.each do |c| %>
    <div><%= c.category.name %></div>
   	<div><%= c.body %></div>
  <% end %>
</div>

<%= link_to "コメントページ", new_station_comment_path(@station.id) %>