<div class="col-lg-2"></div>
<div class="col-lg-8">
	<h3 class="commentsub">口コミ投稿フォーム</h3>
	<div class="comment">
		<% if flash[:alert] %>
			<p><%= flash[:alert] %></p>
		<% end %>
	    <%= form_with(model: [@station, @comment], local: true) do |f| %>
	    	<div class="error"><%= render 'layouts/error_messages', model: f.object %></div>
	    	<div>
	      		<div>カテゴリー選択</div>
	      		<%= f.collection_select :category_id, Category.all, :id, :name, {include_blank: "---"} %>
	      	</div>
	        <div class="comment_c">
	        	<div>コメント</div>
		    	<%= f.text_area :body %>
	      	</div>
	      	<div><%= rating_for @station, '駅', disable_after_rate: false, star_path: "/images/" %></div>
	      	<div class="comment_s">
	        	<%= f.submit "口コミする" %>
	      	</div>
	  	<% end %>
  	</div>
</div>
<div class="col-lg-2"></div>
