<h1>登録情報編集</h1>

<%= form_for(@user) do |f| %>

	<table class="table table-bordered">
		<tr>
			<td class="col-xs-3">ニックネーム</td>
			<td><%= f.text_field :nickname %></td>
		</tr>
		<tr>
			<td class="col-xs-3">性別</td>
			<td><%= f.label :gender %><br />
				<%= f.label :man  %>
				<%= f.radio_button :gender, :man %>
    　　　　　　　<%= f.label :woman  %>
    　　　　　　　<%= f.radio_button :gender, :woman %>
			</td>
		</tr>
		<tr>
			<td class="col-xs-3">年代</td>
			<td><%= f.text_field :age_group %></td>
		</tr>
		<tr>
			<td class="col-xs-3">家族構成</td>
			<td><%= f.text_field :family_structure %></td>
		</tr>
		<tr>
			<td class="col-xs-3">メールアドレス</td>
			<td><%= f.email_field :email %></td>
		</tr>
	</table>

	<%= f.submit "編集内容を保存する", class:"btn btn-primary" %>

<% end %>


