<h1>登録情報</h1>


<p>ニックネーム<span><%= @user.nickname %></span></p>
<p>性別<span><%= @user.gender_i18n %></span></p>
<p>年代<span><%= @user.age_group %></span></p>
<p>家族構成<span><%= @user.family_structure %></span></p>

<%= link_to "編集", edit_user_path(current_user) %>
<%= link_to "退会", user_users_close_view_path(current_user) %>
