<div class="col-lg-2"></div>
<div class="col-lg-8">
	<h2 class="text-center">パスワードをお忘れの方へ</h2>
	<h3 class="text-center">パスワード再発行</h3>
	<h4 class="text-center">
		ご登録時のメールアドレスをアドレスをご入力ください。
	</h4>

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= render "devise/shared/error_messages", resource: resource %>

	  <div class="field text-center">
	    <%= f.label :email %>
	    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
	    <%= f.submit "送信" %>
	  </div>
	<% end %>
	<div class="passforget"><%= render "devise/shared/links" %></div>
</div>
<div class="col-lg-2"></div>
