<div class="image">
  <nav class="navbar">
    <div class="navbar-header">
      <%= link_to root_path, data: {"turbolinks" => false} do %>
        <%= image_tag 'cooltext360123626073804.png', size: "200x100" %>
      <% end %>
    </div>
    <ul class="nav navbar-nav navbar-right nav-pills">
      <% if user_signed_in? %>
        <li role="presentation">
          <%= link_to home_about_path do %>
            <%= image_tag("835455.jpg", size: '50x50') %>
            <p>初めての方</p>
          <% end %>
        </li>
        <li role="presentation">
          <%= link_to user_path(current_user) do %>
            <%= image_tag '1795054.jpg', size: "50x50" %>
            <p>my pege</p>
          <% end %>
        </li>
        <li role="presentation">
          <%= link_to destroy_user_session_path, method: :delete  do %>
            <%= image_tag 'logout.jpg', size: "50x50" %>
            <p>log out</p>
          <% end %>
        </li>

      <% else %>

        <li role="presentation">
          <%= link_to home_about_path do %>
            <%= image_tag("835455.jpg", size: '50x50') %>
            <p>初めての方</p>
          <% end %>
        </li>
        <li role="presentation">
          <%= link_to new_user_registration_path do %>
            <%= image_tag("up.jpg", size: '50x50') %>
            <p>会員登録！</p>
          <% end %>
        </li>
        <li role="presentation">
          <%= link_to new_user_session_path do %>
            <%= image_tag 'login.jpg', size: "50x50" %>
            <p>log in</p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>






