<div class="container">
<div class="row">
  <div class="col-lg-1"> </div>
  <div class="col-lg-10">
<nav class="navbar">






                                    <ul class="nav navbar-nav navbar-right nav-pills">
                                      <% if user_signed_in? %>
                                        <li role="presentation">
                                          <%= link_to home_about_path do %>
                                            <%= image_tag("/assets/194486.jpg", size: '50x50') %><span>初めての方</span>
                                          <% end %>
                                        </li>
                                        <li role="presentation">
                                          <%= link_to user_path(current_user) do %>
                                            <button type="button" class="btn btn-info navbar-btn"><h4>マイページ</h4></button>
                                          <% end %>
                                        </li>
                                        <li role="presentation">
                                          <%= link_to destroy_user_session_path, method: :delete  do %>
                                            <button type="button" class="btn btn-success navbar-btn"><h4>ログアウト</h4></button>
                                          <% end %>
                                        </li>

                                      <% else %>

                                        <li role="presentation">
                                          <%= link_to home_about_path do %>
                                            <%= image_tag("/assets/194486.jpg", size: '40x40') %><span>初めての方</span>
                                          <% end %>
                                        </li>
                                        <li role="presentation">
                                          <%= link_to new_user_registration_path do %>
                                            <button type="button" class="btn btn-success navbar-btn"><h4>会員登録</h4></button>
                                          <% end %>
                                        </li>
                                        <li role="presentation">
                                          <%= link_to new_user_session_path do %>
                                            <button type="button" class="btn btn-success navbar-btn"><h4>ログイン</h4></button>
                                          <% end %>
                                        </li>
                                      <% end %>
                                    </ul>


      </div>
    </div>
  </div>
</nav>






