<!DOCTYPE html>
<html>
  <head>
    <title>Towns</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>

  </head>

  <body>
    <div class="content">
      <%= render partial: "layouts/header" %>
      <%= yield %>
    </div>
    <footer class="footer">
      <p class="text-muted text-center">Copyright © 2020 Kosuke-Furukawa All Rights Reserved.</p>
    </footer>
  </body>
</html>
